@font-face {
  font-family: r-regular;
  src: url("../../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: r-bold;
  src: url("../../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: r-medium;
  src: url("../../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: r-light;
  src: url("../../../assets/fonts/Roboto-Light.ttf");
}
