@font-face {
  font-family: r-regular;
  src: url("../../assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: r-bold;
  src: url("../../assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: r-medium;
  src: url("../../assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: r-light;
  src: url("../../assets/fonts/Roboto-Light.ttf"); }
html,
body {
  scroll-behavior: smooth;
  margin: 0; }

.container {
  max-width: 1160px;
  margin: 0 auto; }

.button {
  text-transform: uppercase;
  background-color: #fe9013;
  font-family: r-medium;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #ffffff;
  border: none;
  transition: 0.5s ease; }
  .button:hover {
    background-color: #e47209;
    cursor: pointer; }
  .button:active {
    background-color: #4b9200; }

.round-button {
  width: 298px;
  height: 54px;
  border-radius: 25px; }

.arrow-button {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  position: absolute; }

.header {
  background-color: #000000;
  height: 80px;
  width: 100%; }

.header-container {
  height: 100%;
  display: flex;
  align-items: center; }

.nav {
  flex: 1; }

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 58px;
  padding-left: 63px; }

.nav-link,
.credits {
  display: block;
  color: #ffffff;
  font-family: r-regular;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.5s ease; }
  .nav-link:hover,
  .credits:hover {
    color: #fe9013;
    cursor: pointer; }

.logo:hover {
  filter: invert(61%) sepia(22%) saturate(2347%) hue-rotate(350deg) brightness(101%) contrast(99%); }

.intro-section {
  background-image: url("../../assets/images/panda-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.intro-container {
  height: 700px;
  display: flex;
  justify-content: flex-end; }

.intro-h1 {
  font-family: r-bold;
  font-size: 106px;
  font-weight: 700;
  line-height: 75%;
  color: #ffffff;
  margin: 0; }

.intro-block {
  margin-top: 12px;
  margin-right: 96px; }

.intro-content {
  position: relative; }

.intro-circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: #fe9013; }

.intro-text {
  position: absolute;
  top: 74px;
  left: 73px;
  max-width: 500px;
  text-align: center;
  text-transform: uppercase; }

.h1-span {
  color: #ffee2e; }

.watch-button {
  margin-top: 69px;
  margin-left: 176px; }

.info-section {
  min-height: 1830px;
  position: relative; }

.info-container {
  padding-top: 140px; }

.backstage-flower-top {
  position: absolute;
  top: 10px;
  right: 0; }

.backstage-flower-bot-l {
  position: absolute;
  bottom: 0;
  left: 0; }

.backstage-flower-bot-r {
  position: absolute;
  bottom: 0;
  right: 0; }

.backstage {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.backstage-image {
  width: 609px;
  height: 403px; }

.backstage-text-block {
  max-width: 465px;
  color: #333b41;
  font-weight: 400;
  font-family: r-regular; }
  .backstage-text-block h2, .backstage-text-block h3 {
    font-weight: 400; }

.backstage-h2 {
  line-height: 120%;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 0; }

.backstage-h3 {
  font-size: 24px;
  line-height: 120%;
  margin-top: 54px;
  margin-bottom: 34px; }

.backstage-text {
  font-size: 16px;
  line-height: 140%; }
  .backstage-text:first-of-type {
    line-height: 130%; }

.animals {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative; }

.arrow-icon {
  width: 16px; }

.arrow-left {
  top: 404px;
  left: 0;
  margin-left: -82px; }

.arrow-right {
  top: 404px;
  right: 0;
  margin-right: -82px; }

.arrow-icon-reversed {
  transform: rotate(180deg); }

.animals-cards {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  gap: 20px 30px; }

.animal-card {
  width: 366px;
  height: 426px;
  border: 1px solid #fe9013;
  border-radius: 5px;
  overflow: hidden; }

.animal-card-content {
  display: flex;
  justify-content: space-between;
  margin: 5px 13px auto 16px; }

.card-text {
  font-family: r-regular;
  color: #000000; }

.card-h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
  font-family: r-bold; }

.card-p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%; }

.friend-section {
  min-height: 1004px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding-top: 69px;
  box-sizing: border-box; }

.friend-container {
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px; }

.friend-text-block {
  padding-left: 99px;
  padding-top: 41px;
  font-family: r-regular; }

.friend-h2 {
  text-align: center;
  color: #fe9013;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0; }

.friend-h3 {
  color: #333b41;
  font-size: 36px;
  line-height: 130%;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px; }

.friend-h4 {
  color: #000000;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 30px; }

.friend-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 10px;
  max-width: 863px; }

.friend-p-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-top: 40px; }

.underline {
  text-decoration: none;
  position: relative; }

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #fe9013; }

.friend-works-block {
  font-family: r-regular;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.payment-cards {
  display: flex;
  gap: 30px;
  max-width: 764px;
  justify-content: space-between; }

.payment-card {
  width: 168px;
  height: 244px; }

.icon-block {
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border: 1px solid #fe9013;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.payment-card-title {
  font-family: r-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #333b41;
  margin-top: 30px; }

.payment-arrow {
  width: 69px;
  margin-top: -65px; }

.friend-button {
  margin-top: 60px; }

/*# sourceMappingURL=styles.css.map */
