.header {
  background-color: $black;
  height: 80px;
  width: 100%;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 58px;
  white-space: nowrap;
  padding-left: 63px;
}

.nav-link,
.credits {
  display: block;
  color: $white;
  font-family: $r-regular;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: $transition-default;
  &:hover {
    color: $orange;
    cursor: pointer;
  }
}

.active-link {
  color: $orange;
}

.logo {
  &:hover {
    filter: invert(61%) sepia(22%) saturate(2347%) hue-rotate(350deg)
      brightness(101%) contrast(99%);
  }
}

.burger-menu {
  display: none;
  background: transparent;
  z-index: 100;
  position: relative;
  height: 22px;
  width: 30px;

  &:before,
  &:after {
    background: $white;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px;
  }

  &:before {
    box-shadow: $white 0 10px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &:hover {
    cursor: pointer;
  }
}

.cross {
  &:before {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
  }

  &:after {
    top: 50%;
    transform: rotate(315deg);
  }
}
