@font-face {
  font-family: r-regular;
  src: url("../../assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: r-bold;
  src: url("../../assets/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: r-medium;
  src: url("../../assets/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: r-light;
  src: url("../../assets/fonts/Roboto-Light.ttf"); }
html,
body {
  scroll-behavior: smooth;
  margin: 0; }

.container {
  max-width: 1160px;
  margin: 0 auto; }

.button {
  text-transform: uppercase;
  background-color: #fe9013;
  font-family: r-medium;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #ffffff;
  border: none;
  transition: 0.5s ease; }
  .button:hover {
    background-color: #e47209;
    cursor: pointer; }
  .button:active {
    background-color: #4b9200; }

.round-button,
.button-square {
  width: 298px;
  height: 54px;
  border-radius: 25px; }

.button-square {
  border-radius: 5px; }

.header {
  background-color: #000000;
  height: 80px;
  width: 100%; }

.header-container {
  height: 100%;
  display: flex;
  align-items: center; }

.nav {
  flex: 1; }

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 58px;
  padding-left: 63px; }

.nav-link,
.credits {
  display: block;
  color: #ffffff;
  font-family: r-regular;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.5s ease; }
  .nav-link:hover,
  .credits:hover {
    color: #fe9013;
    cursor: pointer; }

.active-link {
  color: #fe9013; }

.logo:hover {
  filter: invert(61%) sepia(22%) saturate(2347%) hue-rotate(350deg) brightness(101%) contrast(99%); }

.intro-section {
  background-image: url("../../assets/images/panda-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 390px; }

.donate-section {
  min-height: 1470px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%); }

.donation-text {
  font-family: r-regular; }

.help-h2,
.donation-h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin: 0; }

.help-h2 {
  padding-top: 40px; }

.donation-desc {
  color: #ffffff;
  max-width: 1145px;
  margin: 0;
  margin-top: 10px; }

.donation-h2 {
  color: #fe9013;
  margin-top: 40px; }

.friend-block {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  min-height: 964px;
  margin-top: 60px;
  box-sizing: border-box;
  padding: 40px 92px 62px 92px; }

.friend-inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 862px; }

.friend-title {
  font-family: r-regular;
  text-align: center; }

.donate-h1 {
  color: #fe9013;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding-top: 40px; }

.title-text {
  font-size: 24px;
  color: #333b41;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding-top: 20px;
  text-align: left; }

.animal {
  display: flex;
  align-items: center;
  margin-top: 30px; }

.food-amount {
  font-family: r-regular;
  color: #333b41;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 11px;
  margin-top: 30px; }
  .food-amount p {
    margin: 0; }

.food-number {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%; }

.food-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

.cross-icon {
  width: 14px;
  height: 14px;
  margin-left: 11px; }

.animal-icon {
  width: 284px;
  margin-left: 64px; }

.money {
  font-family: r-regular;
  margin-top: 30px; }

.money-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

.range {
  width: 100%;
  box-sizing: border-box; }

.range-outer {
  width: 976px;
  height: 27px;
  background-color: #404950;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box; }

.range-inner-line {
  width: 100%;
  height: 2px;
  background-color: #767474;
  display: flex;
  justify-content: space-between; }

.dot-block {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  margin-left: -11px; }
  .dot-block:hover {
    cursor: pointer; }
  .dot-block:last-of-type {
    margin-right: -11px; }

.yellow-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffee2e; }

.clicked {
  position: relative; }

.clicked::after {
  position: absolute;
  content: "";
  border: 1px solid #fe9013;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -6px;
  left: -6px; }

.clicked::before {
  position: absolute;
  content: "";
  border: 1px solid #fe9013;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  top: -13px;
  left: -12px; }

.numbers {
  font-family: r-regular;
  color: #333b41; }

.numbers-list {
  list-style: none;
  display: flex;
  gap: 68px;
  padding-left: 0; }
  .numbers-list li span {
    font-weight: 600;
    font-size: 26px;
    line-height: 140%; }

.another-amount {
  display: flex;
  flex-direction: column;
  font-family: r-regular;
  margin-top: 50px; }

.amount-number {
  background: transparent;
  border: 1px solid #929699;
  width: 268px;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-left: 10px; }

.input-block {
  position: relative; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.input-icon {
  width: 10px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 17px;
  filter: invert(59%) sepia(5%) saturate(232%) hue-rotate(163deg) brightness(100%) contrast(86%); }

.radios {
  font-family: r-regular;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 50px; }
  .radios label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; }

.feed-button {
  margin-top: 31px; }

.share-text {
  margin-top: 30px;
  font-family: r-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41; }

.footer {
  min-height: 443px;
  background-color: #111115; }

.footer-container {
  display: flex;
  justify-content: space-between; }

.footer-logo {
  margin-top: 41px; }

.socials-list {
  margin-top: 44px;
  padding-left: 0;
  list-style: none; }
  .socials-list li {
    margin-bottom: 10px; }

.icon-circle {
  background-color: #767474;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px; }

.socials-link {
  text-decoration: none;
  font-family: r-regular;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  transition: 0.5s ease; }
  .socials-link:hover {
    color: #fe9013; }

.donate-button {
  margin-top: 68px; }

.center {
  display: flex;
  align-items: flex-end; }

.nav-list-footer {
  padding: 0; }

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.subscribe {
  justify-self: flex-start; }

.subscribe {
  display: flex;
  flex-direction: column;
  font-family: r-regular; }

.subscribe-h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
  margin-top: 40px; }

.form {
  display: flex;
  align-items: center;
  gap: 10px; }

.submit-button {
  width: 129px;
  height: 42px;
  border: 1px solid #333b41;
  background-color: #f1f3f2;
  color: #000000;
  text-transform: capitalize;
  font-weight: 500;
  font-family: r-light; }
  .submit-button:active {
    border-color: #4b9200;
    color: #4b9200; }
  .submit-button:hover {
    background-color: #f1f3f2; }

.form-mistake {
  border-color: #d31414;
  color: #d31414; }

.subscribe-input {
  background: transparent;
  border-style: none;
  border: 1px solid #fe9013;
  width: 228px;
  height: 42px;
  font-family: r-light;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
  font-weight: 700;
  padding: 10px;
  box-sizing: border-box; }

.designed-by {
  align-self: flex-end;
  font-family: r-light;
  color: #ffffff;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%; }
  .designed-by p {
    margin-bottom: 10px; }

/*# sourceMappingURL=styles.css.map */
